body {
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/background_gif.gif');
  background-size: 100vw;
}

.visible {
  display: flex !important;
}

.invisible {
  display: none;
}

.gameContainer {
  display: flex;
  flex-direction: column;
}