.menu {
  height: 40vh;
  width: 40vh;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  color: red;
}

.invisible {
  display: none;
}

@media screen and (min-width: 992px) {
  .menu {
    width: 60vh;
  }
}